<ion-view view-title="editprofile" ng-controller="EditProfileCtrl">
  <ion-content contenteditable class="has-header padding">
    <ion-list>
      <ion-item><h1>Home</h1></ion-item>
      <ion-item>{{user.name}}</ion-item>
      <ion-item>{{user.gender}}</ion-item>
      <ion-item>{{user.hasRoom}}</ion-item>
      <ion-item>{{user.email}}</ion-item>
      <ion-item>{{user.phone}}</ion-item>
      <ion-item>{{user.password}}</ion-item>
		</ion-list>
		<button class="button button-full button-positive" on-tap="menu.profile">Submit Changes</button>
  </ion-content>
</ion-view>
