<ion-view ng-controller="LoginCtrl">
  <ion-header-bar class="bar-dark">
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content class="has-header padding">
    <ion-list>
      <label class="item item-input">
        <input type="text" ng-model="user.username" placeholder="username" autocorrect="off" autocapitalize="none">>
      </label>
      <label class="item item-input">
        <input type="password" ng-model="user.password" placeholder="password">
      </label>
      <br>
      <button class="button button-block button-positive" on-tap="login()">Login</button>
      <a class="button button-block button-positive" ui-sref="signup">Sign Up Here</a>
    </ion-list>
  </ion-content>
</ion-view>

