<ion-side-menus>
   <ion-side-menu-content>
        <ion-header-bar class="bar-positive">
            <div class="buttons">
                <button class="button icon button-clear ion-navicon-round" ng-click="toggleLeft()"></button>
            </div>
            <h1 class="title">Sidemenu</h1>
        </ion-header-bar>
        <p>random text</p>
        <p>random text</p>
        <p>random text</p>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-list>
            <ion-item href="#/home">Homeg</ion-item>
        </ion-list>
        <ion-list>
            <ion-item href="#/profile">Profile</ion-item>
        </ion-list>
        <ion-list>
            <ion-item href="#/postRoom">Post Room</ion-item>
        </ion-list>
        <ion-list>
            <ion-item href="#/chatHistory">Chat History</ion-item>
        </ion-list>
        <ion-list>
            <ion-item>Search Mates</ion-item>
        </ion-list>
        <ion-list>
            <ion-item>Search Rooms</ion-item>
        </ion-list>
        <ion-list>
            <ion-item>Logout</ion-item>
        </ion-list>
    </ion-side-menu>
</ion-side-menus>