<ion-view view-title="oneMate" ng-controller="GetMateCtrl">
  <ion-content class="has-header padding">
    
      <h2>{{mate.username}}</h2>
      {{mate.gender}}
      has room ? {{mate.hasRoom}}<br>
      email: {{mate.email}}<br>
      phone: {{mate.phone}}

    <ion-item ui-sref="menu.chat({ username: mate.username })">chat with {{ mate.username }}</ion-item>
    
    <ion-item ui-sref="menu.personalityResults({ id: mate.id })">Personality Comparison</ion-item>

    <ion-list>
    <ion-item on-double-tap= "endorseUser('handy')">
      handy
       <i class="ion-settings" style= "color:red" ng-repeat="h in handy"></i> 
    </ion-item>

    <ion-item on-double-tap= "endoreUser('neatfreak')">
      neatfreak
       <i class = "ion-leaf" style= "color:green" ng-repeat="n in neatfreak"></i> 
    </ion-item>

    <ion-item on-double-tap= "endorseUser('foodie')">
      foodie
       <i class = "ion-icecream" style= "color:pink" ng-repeat="f in foodie"></i> 
    </ion-item>

    <ion-item on-double-tap= "endorseUser('active')">
      active
       <i class = "ion-paper-airplane" style= "color:purple" ng-repeat="a in active"></i> 
    </ion-item>

    <ion-item on-double-tap= "endorseUser('punctual')">
      punctual
       <i class = "ion-clock" style= "color:blue" ng-repeat="p in punctual"></i> 
    </ion-item>

    <ion-item on-double-tap= "endorseUser('lowkey')">
      lowkey
       <i class = "ion-map" ng-repeat="l in lowkey"></i> 
    </ion-item>
    
    </ion-list>
  </ion-content>
</ion-view>