<ion-view view-title="postroom" ng-controller="PostRoomController">
  <ion-content class="has-header padding">
    <ion-list>
    	<label class="item item-input">
    		<input type="text" ng-model="description" placeholder="description">
    	</label>
    	<label class="item item-input">
    		<input type="number" ng-model="price" placeholder="price">
    	</label>
    	<label class="item item-input">
    		<input type="text" ng-model="photo" placeholder="photo">
    	</label>
    	<label class="item item-input">
    		<input type="text" ng-model="neighborhood" placeholder="neighborhood">
    	</label>
      <!--   <label class="item item-input">
            <input type="text" ng-model="owner_id" placeholder="Owner Id">
            </label> -->
    	<br>
    	<button class="button button-positive" on-tap="postRoom()">Submit</button>
    </ion-list>
  </ion-content>
</ion-view>