<ion-view view-title="postroom" ng-controller="PostRoomCtrl">
  <ion-content class="has-header padding">
    <ion-list>
    	<label class="item item-input">
    		<input type="text" ng-model="room.description" placeholder="description">
    	</label>
    	<label class="item item-input">
    		<input type="number" ng-model="room.price" placeholder="price">
    	</label>
    	<label class="item item-input">
    		<input type="text" ng-model="room.photo" placeholder="photo">
    	</label>
    	<label class="item item-input">
    		<input type="text" ng-model="room.neighborhood" placeholder="neighborhood">
    	</label>
        <label class="item item-input">
            <input type="text" ng-model="room.petfriendly" placeholder="petfriendly">
        </label>
      <!--   <label class="item item-input">
            <input type="text" ng-model="owner_id" placeholder="Owner Id">
            </label> -->
    	<br>
    	<button class="button button-positive" on-tap="postRoom()">Submit</button>
    </ion-list>
  </ion-content>
</ion-view>