<ion-modal-view>
<ion-header-bar class="bar bar-header bar-dark">
<button side="right" class="button button-clear button-primary" on-tap="modal.hide()">Cancel</button>
</ion-header-bar>
	<ion-content class="padding">
		<ion-list>
		<a class="button button-block button-positive" ui-sref="menu.searchRooms" on-tap="modal.hide()">Search Rooms</a>
		</ion-list>
		<ion-list>
			<a class="button button-block button-positive" ui-sref="menu.searchMates" on-tap="modal.hide()">Search Mates</a>
		</ion-list>
	</ion-content>
	</ion-modal-view>