<ion-view view-title="searchMates" ng-controller="SearchMatesCtrl">
  <ion-content class="has-header padding">
    <ion-list>

    	<label class="item item-input item-select">
    		<div class="input-label">Gender</div>
    		<select ng-model = "search.gender">
    			<option value = "male">Male</option>
    			<option value = "female">Female</option>
    		</select>
    	</label>

        <label class="item item-input">
        <span class="input-label">character traits</span>
         <input type="text" ng-model = "search.description">
        </label>
        
        <label class="item item-input">
         <span class="input-label">target range</span>
         <input type="number" ng-model = "search.budget">
        </label>

        <label class="item item-input">
        <span class="input-label">acceptable range</span>
         <input type="number" ng-model = "search.range">
        </label>

    	<button class="button button-block button-positive" on-tap="searchMates()">Search</button>
    </ion-list>
    </ion-content>
</ion-view>