<ion-view view-title="searchroom" ng-controller="SearchRoomController">
	<ion-content class="has-header padding">
		<div class="list">
			<label class="item item-input item-select">
				<div class="input-label">
					Neighborhoods
				</div>
				<select>
					<option>Brooklyn</option>
					<option>The Bronx</option>
					<option>Manhattan</option>
					<option>Staten Island</option>
					<option>Queens</option>
				</select>
			</label>
			<label class="item item-input item-select">
				<div class="input-label">
					Size
				</div>
				<select>
					<option>10x9</option>
				</select>
			</label>
			<label class="item">
				<div class="input-label">
					Min
				</div>
				<div class="range range-assertive">
					<i class="icon ion-ios7-sunny-outline"></i>
					<input type="range" min="{{user.min}}" max="{{user.max}}" value="{{user.value}}" step="100" ng-model="user.value">
				</div>
			</label>
			<label class="item">
				<div class="input-label">
					Max
				</div>
				<div class="range range-assertive">
					<i class="icon ion-ios7-sunny-outline"></i>
					<input type="range" min="{{user.min}}" max="{{user.max}}" value="{{user.value}}" step="100" ng-model="user.value">
				</div>
			</label>
			<label class="item item-input item-select">
				<div class="input-label">
					Number Of People
				</div>
				<select>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select>
			</label>
		</div>
	</ion-content>
</ion-view>