<ion-view view-title="searchroom" ng-controller="SearchRoomsCtrl">
	<ion-content class="has-header padding">
		<div class="list">
			
			<label class="item item-input">
        <input type="text" placeholder="neighborhood" ng-model = "search.neighborhood">
      	</label>
      	<br/>

      	<div class="input-label">
					Price Range:
		</div>

			<label class="item item-input">
				<input type="number" ng-model="search.price_min" placeholder="min">
			</label>

			<label class="item item-input">
				<input type="number" ng-model="search.price_max" placeholder="max">
			</label>
			<br/>
			<label class="item item-input item-select">
				<div class="input-label">
					Pet Friendly:
				</div>
				<select ng-model="search.pet_friendly">
					<option value = true>all tails welcome</option>
					<option value = false>not allowed</option>
					<option value = false>it makes no difference</option>
				</select>

			</label>
			<br>
			<button class="button button-positive" on-tap="searchRooms()">Search</button>
		</div>
	</ion-content>
</ion-view>