<ion-view view-title="Sign Up" ng-controller="SignUpCtrl">
  <ion-content>
    <h2>Sign up here</h2>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Name" ng-model="user.name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="user.username">
      </label>
      <label class="item item-checkbox">
        <div class="item-content">Have A Room?<input type="checkbox" name="hasRoom" ng-model="user.hasRoom"></div>
      </label>
      <label class="item item-input">
        <input type="number" placeholder="budget" ng-model="user.budget">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Confirm Password" ng-model="user.confirm_password">
      </label>
      <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="user.email">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Phone Number" ng-model="user.phone">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Occupation" ng-model="user.occupation">
      </label>
      
      <select ng-model="user.gender">
          <option value="male">male</option>
          <option value="female">female</option>
      </select>

      <button class="button button-positive" on-tap="signup()">
        Sign Up
      </button>
  </ion-content>
</ion-view>