<ion-view view-title="Sign Up" ng-controller="SignUpCtrl">
  <ion-content>
    <h2>Sign up here</h2>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Name" ng-model="name">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="password">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Confirm Password" ng-model="confirm_password">
      </label>
      <label class="item item-input">
        <input type="email" name="email" placeholder="Email" ng-model="email">
      </label>
      <label class="item item-input">
        <input type="number" name="phone" placeholder="Phone Number" ng-model="phone">
      </label>
      <label class="item item-input">
        <input type="text" name="occupation" placeholder="Occupation" ng-model="occupation">
      </label>
      <label class="item item-checkbox">
        <div class="item-content">Have A Room?<input type="checkbox" name="hasRoom" ng-model="hasRoom"></div>
      </label>
      <label class="item item-radio">
        <input type="radio" name="gender" value="male" ng-model="gender"> 
        <div class="item-content">Male</div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="gender" value="female" ng-model="gender"> 
        <div class="item-content">Female</div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <button class="button button-positive" on-tap="signup()">
        Sign Up
      </button>
  </ion-content>
</ion-view>